body {
    font-family: "Lato", sans-serif;
}


/* Style the menutab */

.menutab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
}


/* Style the buttons inside the menutab */

.menutab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}


/* Change background color of buttons of menutab on hover */

.menutab button:hover {
    background-color: #ddd;
}


/* Create an active/current tablink class of menutab */

.menutab button.active {
    background-color: #ccc;
}


/* Style the menutab content */

.menutabcontent {
    display: none;
    padding: 6px 12px;
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1s;
}


/* Style the close button of menutab */

.menutabclosetopright {
    float: right;
    cursor: pointer;
    font-size: 20px;
}

.menutabclosetopright:hover {
    color: red;
}


/* Fade in menutab */

@-webkit-keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeEffect {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.table,
.tablelist {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table td,
.tablelist td,
.table th,
.tablelist th {
    border: 1px solid #ddd;
    padding: 8px;
}

.table tr:nth-child(even),
.tablelist tr:nth-child(even) {
    background-color: #f2f2f2;
}

.table tr:hover,
.tablelist tr:hover {
    background-color: #ddd;
}

.table th,
.tablelist th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4e8af5;
    color: white;
}

.input,
select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.submit {
    width: 100%;
    background-color: #4e8af5;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.submit:hover {
    background-color: #4e8af5;
}

.div {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.search {
    width: 130px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-image: url('../images/toolbar_find.png');
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 12px 20px 12px 40px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

.search:focus {
    width: 100%;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border: 1px solid #ddd;
}

.pagination a.active {
    background-color: #4e8af5;
    color: white;
    border: 1px solid #4e8af5;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination a:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.pagination a:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}